basic data structures
1. list
2. tuple
3. set
4. dictionary

list properties
1. ordered(sequence)
2. indexed
3. mutable(changeable)
4. allow duplicate values
5. heterogeneous(different types of data)
6. list is denoted by square brackets([])
7. an iterable can be converted to list using list() function

what to learn?
1. creation
2. indexing/slicing
3. modifying
4. methods

In [43]:
x = [1, 2, 3, 4, 5, 6]
names = ['Abhishek', 'Alok', 'Anand', 'Janvi', 'Sumit']
mixed = ['Burger', 15, 'Sandwich', 10, 'Dosa', 10]

In [2]:
name = 'Abhishek'
list(name)

['A', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [3]:
x = []  # blank list

In [4]:
a = [1] # single element list
a*9    # duplicate the list

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [5]:
data = 'Can I take the class @Zaid_Kamil'
words = data.split()
print(words)

['Can', 'I', 'take', 'the', 'class', '@Zaid_Kamil']

In [6]:
words[0] = 'Would'

In [7]:
words[-4]

'take'

In [8]:
words[1] = 'you'
words[2] = 'please'
words[3] = 'take'
words[4] = 'the'
words[5] = 'class'
words

['Would', 'you', 'please', 'take', 'the', 'class']

In [9]:
x = [11, 22, 33, 44, 55, 66, 77, 88, 99]
print(x[:3])    # first 3 elements
print(x[-3:])   # last 3 elements
print(x[:100])  # first 100 elements, if available
print(x[::-1])  # reverse the list

[11, 22, 33]
[77, 88, 99]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [10]:
for name in names:
    print(name)

Abhishek
Alok
Anand
Janvi
Sumit

In [11]:
for num in x:
    print(num)

11
22
33
44
55
66
77
88
99

In [12]:
# reverse iteration
for num in x[::-1]:
    print(num)

99
88
77
66
55
44
33
22
11

In [13]:
# only first 5 elements of the list in the loop
for i in x[:5]:
    print(i)

11
22
33
44
55

    don't update the list while iterating over it
list has 11 methods

In [14]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [15]:
x.append(111)

In [16]:
x

[11, 22, 33, 44, 55, 66, 77, 88, 99, 111]

In [17]:
x.insert(3, 40)
print(x)

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111]

In [18]:
y = [21, 31, 41, 51, 61 ,71, 81, 91]

In [19]:
x + y # concatenation of lists

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111, 21, 31, 41, 51, 61, 71, 81, 91]

In [20]:
x.extend(y)     # extend the list
print(x)
print(y)

[11, 22, 33, 40, 44, 55, 66, 77, 88, 99, 111, 21, 31, 41, 51, 61, 71, 81, 91]
[21, 31, 41, 51, 61, 71, 81, 91]

In [21]:
x.clear()
print(x)

[]

In [46]:
names.remove('Sumit')

In [44]:
names.remove('Alok')

In [47]:
names

['Abhishek', 'Anand', 'Janvi']

In [31]:
words.pop(2)

'please'

In [32]:
words

['Would', 'you', 'take', 'the', 'class']

In [33]:
words.pop(-2)
print(words)

['Would', 'you', 'take', 'class']

In [34]:
movies = ['John Wick', 'Pirates of the Carribean', 'Fast and Furious', 'The Jungle Cruise', 'Black Adam', 'The Boys', 'The Family Man', 'Dhamaal', 'Phir Hera Pheri', 'Dhol']

In [35]:
movies.sort(reverse=True)

In [36]:
movies

['The Jungle Cruise',
 'The Family Man',
 'The Boys',
 'Pirates of the Carribean',
 'Phir Hera Pheri',
 'John Wick',
 'Fast and Furious',
 'Dhol',
 'Dhamaal',
 'Black Adam']

In [37]:
movies.reverse()
movies

['Black Adam',
 'Dhamaal',
 'Dhol',
 'Fast and Furious',
 'John Wick',
 'Phir Hera Pheri',
 'Pirates of the Carribean',
 'The Boys',
 'The Family Man',
 'The Jungle Cruise']

In [38]:
print(movies.index('Fast and Furious'))
print(movies.index('Pirates of the Carribean'))
print(movies.index('The Jungle Cruise'))

3
6
9

In [39]:
movies_backup = movies.copy()

In [41]:
import random as rnd

In [42]:
rnd.shuffle(movies)     # shuffles the list
print(movies)

['The Boys', 'Black Adam', 'The Family Man', 'Pirates of the Carribean', 'The Jungle Cruise', 'John Wick', 'Dhamaal', 'Phir Hera Pheri', 'Fast and Furious', 'Dhol']

In [48]:
rnd.choice(movies)

'The Jungle Cruise'

In [49]:
rnd.choices(movies, k=4)

['Black Adam', 'Dhol', 'The Family Man', 'Dhamaal']